.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container>div {
  background-color: #a20025;
  width: 80px;
  margin: 10px;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  text-align: center;
  border: .5px solid #920E16;
  border-radius: 5px;
}

#contact-flex>div {
  background-color: #a20025;
  width: 80px;
  margin: 10px;
  text-align: center;
  line-height: 70px;
  font-size: 35px;
  text-align: center;
  border: .5px solid #920E16;
  border-radius: 5px;
}

#flex-container {
  display: flex;
  justify-content: center;
}


.index-fa {
  color: #ffffff;
}

.w3-button {
  border: solid #FFD700 1px;
  border-radius: 5px;
}

.flex-container>div:hover {
  background-color: #a20025;
  width: 80px;
  margin: 10px;
  text-align: center;
  line-height: 70px;
  font-size: 50px;
  text-align: center;
  border: .5px solid #920E16;
  border-radius: 5px;
}

.flex-text {
  display: flex;
  justify-content: center;
  word-wrap: initial;
}

.flex-text>div {
  background-color: #ffffff;
  width: 80px;
  margin: 10px;
  line-height: 15px;
  font-size: 16px;
  text-align: center;
}

.bar {
  margin-top: 25px;
}

article {
  display: block; text-align: left; width: 650px; margin: 0 auto;
  font-family: "Segoe UI",Arial,sans-serif;
  margin-top: 90px;
}

body {
  font-family: "Segoe UI",Arial,sans-serif;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10px;
  display: table;
  background-color: #a20025;
  font-size: 10px;
}

.social-buttons {
  font-weight: bold;
  font-size: 25px;
}

#social-buttons {
  color: #a20025;
}


#login-form {
  padding-top: 30px;
}

#account-links {
  padding-top: 120px;
}

#accounts-enrollment {
  background-color: #a20025;
  color: #ffffff;
}
